{% extends "base.html" %}
{% load static %}
{% block hero_section %}
    <!-- Hero section -->
    <section class="w-[90%] drop-shadow m-auto border rounded-3xl border-neutral-600 border-t-0 text-white sm:mt-10 mt-8 pb-6">
    <div class="lg:flex md:w-10/12 m-auto ">
        <div class="lg:w-7/12 sm:p-8 p-5 m-auto" data-aos="fade-right"
        data-aos-offset="300"
        data-aos-duration="500">
            <h1 class="sm:text-3xl text-xl sm:font-bold mb-6 flex gap-2 items-end w-fit whitespace-nowrap">HI, I AM <p class="sm:text-2xl text-base typing-animation text-[#c7c7c7]">{{basic_info.name}}</p></h1>
            <p class="text-[#9C9C9C] leading-relaxed">{{basic_info.about}}</p>
            <a href="#contact"><button id="shadow" class="bg-[#3F8E00] text-white sm:text-base text-sm sm:rounded-sm rounded-md font-bold sm:pl-10 pl-5 sm:pr-10 pr-5 pt-3 pb-3 sm:mt-10 mt-8">Contact with me ></button></a>
        </div>
        <div class="lg:flex items-center hidden w-5/12">
            <img class="rounded-full lg:w-[300px] m-auto" src="{{basic_info.image.url}}" data-aos="fade-left"
            data-aos-offset="300"
            data-aos-duration="500" alt="">
        </div>
    </div>
    <div class="flex-row md:w-10/12 m-auto sm:p-8 p-5 sm:pt-10 pt-4" data-aos="fade-up"
    data-aos-duration="500">
        <h1 class="text-lg">WORKED WITH: </h1>
        <ul id="skills" class="grid grid-cols-2 text-center sm:flex sm:flex-wrap text-2xl sm:text-3xl md:text-4xl justify-center sm:justify-start gap-4 mt-4">
           {% if skills %}
             {% for skill in skills %}
             <li  onmouseover="this.style.color= '{{skill.color_code}}'" onmouseout="this.style.color= ''" class="hover:text-[{{ skill.color_code }}] hover:animate-bounce hover:bg-[#f5f5dc] border-2 rounded-lg border-neutral-600 pt-2 pb-2 pl-9 pr-9">
                {{skill.technology_icon|safe}}
            </li>
             {% endfor %}
           {% endif %}
        </ul>
        
    </div>
    </section>
{% endblock hero_section %}
{% block content %}
    {% if projects %}
    <!-- project -->
    <div id="projects">
        <!-- title section -->
        <div class="md:w-6/12 w-10/12  m-auto text-center" data-aos="fade-down" data-aos-duration="500">
            <h1 class="text-3xl mb-6 font-bold">Projects</h1>
            <p class="text-[#727272]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem maxime dolor aspernatur deleniti quas porro quod sunt quae repellat, esse dicta ullam quasi odit.</p>
        </div>
        {% for project in projects %}
          {% if not project.id|divisibleby:2 %}
            <!-- left side project -->
            <div class="lg:-mx-6 mt-14 mb-14 lg:flex lg:items-center" data-aos="fade-left"
            data-aos-offset="200"
            data-aos-duration="500">
                <img class="object-cover object-center lg:w-1/2 lg:mx-6 w-full h-80 rounded-lg lg:h-[20rem]" src="{{project.image.url}}" alt="">

                <div class="mt-8 lg:w-1/2 lg:px-6 lg:mt-0">
                    <p class="text-5xl font-semibold text-blue-500 ">“</p>

                    <h1 class="text-2xl font-semibold text-gray-800 dark:text-white lg:text-3xl lg:w-96">
                        {{project.title}}
                    </h1>

                    <p class="max-w-lg mt-6 text-gray-500 dark:text-gray-400 ">
                        {{project.description}}
                    </p>
                    <div class="flex gap-4 text-lg mt-2">
                        {% if project.live_link %}
                            <a  href="{{project.live_link}}"><i class="fa-solid fa-up-right-from-square"></i></a>
                        {% endif %}
                        {% if project.github_repo_link %}
                            <a href="{{project.github_repo_link}}"><i class="fa-brands fa-github"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
          {% else %}
            <!-- right side project -->
            <div class="lg:-mx-6 mt-14 mb-14 lg:flex flex-row-reverse lg:items-center" data-aos="fade-right"
            data-aos-offset="200"
            data-aos-duration="500">
                <img class="object-cover object-center lg:w-1/2 lg:mx-6 w-full h-80 rounded-lg lg:h-[20rem]" src="{% static 'images/project.jpg' %}" alt="">
                <div class="mt-8 lg:w-1/2 lg:px-6 lg:mt-0">
                    <p class="text-5xl font-semibold text-blue-500 ">“</p>

                    <h1 class="text-2xl font-semibold text-gray-800 dark:text-white lg:text-3xl lg:w-96">
                        Where project name
                    </h1>

                    <p class="max-w-lg mt-6 text-gray-500 dark:text-gray-400 ">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore quibusdam ducimus libero ad
                        tempora doloribus expedita laborum saepe voluptas perferendis delectus assumenda rerum, culpa
                        aperiam dolorum.
                    </p>
                    <div class="flex gap-4 text-lg mt-2">
                        {% if project.live_link %}
                            <a  href="{{project.live_link}}"><i class="fa-solid fa-up-right-from-square"></i></a>
                        {% endif %}
                        {% if project.github_repo_link %}
                            <a href="{{project.github_repo_link}}"><i class="fa-brands fa-github"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
          {% endif %}
        {% endfor %}
    </div>
    <!-- end recent work section -->
    {% endif %}

    <!-- github profie -->
    {% if github_profile %}
    <div id="github_profile" class="mt-20">
        <h1 class="text-3xl text-center mb-10" data-aos="fade-down" data-aos-duration="500">GitHub Profile</h1>
        <div class="flex md:gap-6 lg:gap-8 gap-3 bg-[#241f3775] md:p-14 p-6 rounded-lg justify-center" data-aos="fade-down"
        data-aos-offset="300"
        data-aos-duration="500">
            <!-- left side content -->
        <div class="w-2/12 hidden sm:block">
            <img class="md:w-[110px] lg:w-[120px] w-[70px] rounded-full" src="{{github_profile.image}}" alt="">
        </div>

        <!-- right side content -->
        <div class="sm:w-10/12 w-full">
            <!-- about section -->
            <div class="sm:flex flex-row justify-between">
                <!-- right section -->
                <div>
                    <div class="flex items-center gap-3">
                        <img class="w-[50px] h-[50px] sm:hidden block rounded-full" src="{{github_profile.image}}" alt="Jisan Mahmud">
                        <div class="w-full">
                            <h1 class="text-xl sm:text-2xl md:text-3xl">{{github_profile.name}}</h1>
                            <a href="#" class="text-sm sm:text-base md:text-lg">@ {{github_profile.username}}</a>
                        </div>
                    </div>
                    <p class="mt-2 text-gray-400 sm:text-base text-xs">{{github_profile.bio}}</p>
                </div>
                <!-- left section -->
                <div>
                    <span class="sm:text-base text-xs">Joined {{github_profile.joining_date}}</span>
                </div>
            </div>
            <!-- reopository, follwers and following section -->
            <div class="flex items-end justify-around text-center rounded-xl md:mt-8 md:mb-8 mt-6 mb-6 md:p-6 sm:3 p-2 bg-[#021526]">
                <!-- repository -->
                <div class="">
                    <span class="sm:text-base text-sm">Repos</span><br>
                    <b class="md:text-3xl sm:text-xl text-base p-0">{{github_profile.repos}}</b>
                </div>
                <!-- followers -->
                <div class="">
                    <span class="sm:text-base text-sm">Followers</span><br>
                    <b class="md:text-3xl sm:text-xl text-base p-0">{{github_profile.followers}}</b>
                </div class="">
                <!-- following -->
                <div class="!text-sm">
                    <span class="sm:text-base text-sm">Following</span><br>
                    <b class="md:text-3xl sm:text-xl text-base p-0">{{github_profile.following}}</b>
                </div>
            </div>
            <!-- Extra link -->
            <ul class="flex flex-wrap justify-center sm:text-base text-sm sm:justify-between gap-4 p-1">
                <li class="">Facebook</li>
                <li class="">YouTube</li>
                <li class="">Twitter</li>
                <li class="">LinkedIn</li>
            </ul>                
        </div>
        </div>
    </div>
    {% endif %}

    <!-- contact section -->
    <div class="mt-16">
        <h1 class="text-3xl text-center mb-6" data-aos="fade-down" data-aos-duration="500">Contact</h1>
        <div class="flex sm:flex-row flex-col-reverse lg:gap-32 sm:gap-14 gap-6">
            <!-- contect with email and linkedin -->
            <div class="sm:w-2/5 mt-4 mt-b text-center" data-aos="fade-right"
            data-aos-offset="300"
            data-aos-duration="500">
                <div class="rounded-lg bg-[#241f3775] border border-neutral-600 p-8">
                    <i class="fa-solid fa-envelope text-3xl"></i>
                    <p class="lg:text-lg break-words">{{basic_info.email}}</p>
                </div>
                <div class="rounded-lg bg-[#241f3775] border border-neutral-600 mt-4 mb-4 p-4">
                    <i class="fa-brands fa-linkedin text-3xl"></i>
                    <p class="lg:text-lg">{{basic_info.linkedin|slice:"24:"}}</p>
                </div>
            </div>
            <!-- contect form -->
            <div id="contact" class="sm:w-3/5" data-aos="fade-left"
            data-aos-offset="300"
            data-aos-duration="500">
                <form class="text-white" method="POST">
                    {% csrf_token %}
                    <div class="flex mt-4 mb-4 gap-4">
                        <input name="first_name" class="w-full p-3 rounded-lg focus:outline-none shadow bg-[#241f3775] border border-neutral-600" type="text" placeholder="First Name">
                        <input name="last_name" class="w-full p-3 rounded-lg focus:outline-none shadow bg-[#241f3775] border border-neutral-600" type="text" placeholder="Last Name">
                    </div>
                    <div class="mt-4 mb-4">
                        <input name="email" class="w-full p-3 rounded-lg focus:outline-none shadow bg-[#241f3775] border border-neutral-600" type="email" placeholder="Email Address">
                    </div>
                    <div class="mt-4 mb-4">
                        <textarea name="message" class="w-full p-3 rounded-lg focus:outline-none shadow bg-[#241f3775] border border-neutral-600" placeholder="Message"></textarea>
                    </div>
                    {% for message in messages %}
                        {% if "success" in message.tags %}
                            <div class="p-4 text-green-800" role="alert">
                                <span class="font-medium">Success alert!</span> {{ message }}
                            </div>
                        {% elif "error" in message.tags %}
                            <div class="p-4 text-red-800" role="alert">
                                <span class="font-medium">Failed alert!</span> {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <button id="shadow" class="bg-[#3F8E00] w-full p-3 mt-4 mb-4 sm:text-base text-sm sm:rounded-sm rounded-md font-bold" type="submit"><i class="fa-regular fa-paper-plane"></i> Sent</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}